
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Chessboard</title>
    <link rel="stylesheet" type="text/css" href="/chess_app.styles.css" /> <!-- Include your CSS here -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <script src="~/js/chess.js"></script> <!-- Include your JavaScript file -->
    <div id="chessboard-container"></div> <!-- Container for the chessboard -->

    <!-- Display selected square and piece -->
    <div id="info-container">
        <div id="selected-square">Selected square: </div>
    </div>

    
</body>
</html>