@model Game

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Chessboard</title>
    <link rel="stylesheet" type="text/css" href="/css/ChessApp.styles.css" /> <!-- Include your CSS here -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <script src="~/js/chess.js"></script> <!-- Include your JavaScript file -->
    <div id="chessboard-container"></div> <!-- Container for the chessboard -->

    <!-- Display selected square and piece -->
    <div id="info-container">
        <div id="selected-square">Selected square: </div>
    </div>
    <div id="turn-display" style="color: red;">Current turn: </div>

    <div id="legal-moves"># of legal moves:  </div>


    <button id="computer-move-button">Make Computer Move</button>

    


</body>

</html>