@model Game

<h2>vs CPU</h2>


<hr>

@* Buttons for timers:

    Display all info from game object given


*@



<h5> Play as: </h5>
<button type="button">White</button>
<button type="button">Black</button>

<script src="~/js/chess.js"></script> <!-- Include your JavaScript file -->
<div id="chessboard-container"></div> <!-- Container for the chessboard -->


