@model Game

<h2>Play</h2>


<hr>
@* add buttons for game vs computer and online games...  *@

<a asp-area="" asp-controller="Play" asp-action="Computer">Play vs Computer</a>
<hr>
<a asp-area="" asp-controller="Play" asp-action="Computer">Play a Friend</a>




