#chessboard-container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.square {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.light {
    background-color: #f0d9b5;
}

.dark {
    background-color: #b58863;
}